#annotation {
	float: left;
}

#annotation > fieldset {
	font-size: 0.6em;
	min-width: 120px;
	max-width: 480px;
}

#annotation > fieldset:hover, #annotation > fieldset.hover {
	background-color: lightgrey;
}

#annotation > fieldset > legend {
	font-weight: bold;
}

#annotation > fieldset > .result > label, #annotation > fieldset > .result > .value {
	float: left;
	margin-right: 0.5em;
	max-height: 2em;
	overflow: auto;
}

#annotation > fieldset .result .value.error {
	color: red;
	font-weight: bold;
}

#annotation > fieldset .toggle {
	float: left;
	margin-right: 0.5em;
	text-decoration: none;
}

#annotation > fieldset .toggle.hide:after {
	content: "[–]";
}

#annotation > fieldset .toggle:after {
	content: "[+]";
}

#annotation > fieldset .explanation {
	padding-right: 2em;
}

#annotation > fieldset .explanation pre {
	float: left;
	clear: left;
}
