#output {
	clear: left;
	float: left;
}

#output-hex, #output-bin, #output-bytes {
	border: dashed 1px;
	font-family: Courier;
	margin-bottom: 2em;
	margin-right: 2em;
	max-height: 6em;
	min-height: 1em;
	overflow: auto;
}

#output-hex, #output-bin {
	cursor: pointer;
}


#output-hex > span:nth-child(16n + 1) {
	clear: right;
}

#output-hex > span {
	float: right;
	margin-left: 0.5em;
}

#output-hex > span:hover,
#output-hex > span.hover,
#output-bin > span:hover,
#output-bin > span.hover {
	background: lightgrey;
}

#output-hex > span > span:hover,
#output-hex > span > span.hover,
#output-bin > span > span:hover,
#output-bin > span > span.hover {
	background: grey;
}


#output-bin > span:nth-child(4n + 1) {
	clear: right;
}

#output-bin > span {
	float: right;
	margin-left: 1em;
}

#output-bin > span > span:nth-child(5) {
	margin-left: 1em;
}

#output-bytes > span {
	float: left;
	margin-right: 0.5em;
}

#output-bytes > span:nth-child(16n + 1) {
	clear: left;
}